.board-actions {
	background-color: $body-bg-primary;

	.actions-wrapper {
		display: flex;
		align-items: center;
		justify-content: flex-end;


		.query {
			margin-right: auto;
			max-width: 500px;
			width: 100%;

			input[type=search] {
				width: 100%;
			}

		}

		.add-account {
			background-color: $cta-bg;
			border: none;
			color: $cta-text;
			border-radius: $radius;
			font-size: 16px;

			&:focus,
			&:active {
				outline-color: $body-text-primary;
				border-color: $body-text-primary;
			}
		}

		@media (max-width: $screen-md) {
			flex-wrap: wrap;

			.add-account {
				order: 1;
				width: 100%;
			}

			.query {
				order: 2;
				width: 100%;
				max-width: 100%;
			}
		}
	}
}