@font-face {
    font-family: arial mt;
    font-style: normal;
    font-weight: 400;
    src: local("Arial MT"), url(https://fonts.cdnfonts.com/s/29107/ARIALMTMEDIUM.woff) format("woff");
}

@font-face {
    font-family: arial mt;
    font-style: italic;
    font-weight: 400;
    src: local("Arial MT"), url(https://fonts.cdnfonts.com/s/29107/ARIALMTMEDIUMITALIC.woff) format("woff");
}

@font-face {
    font-family: arial mt;
    font-style: normal;
    font-weight: 700;
    src: local("Arial MT"), url(https://fonts.cdnfonts.com/s/29107/ARIALBOLDMT.woff) format("woff");
}
@font-face {
    font-family: arial mt;
    font-style: italic;
    font-weight: 700;
    src: local("Arial MT"), url(https://fonts.cdnfonts.com/s/29107/ARIALBOLDITALICMT.woff) format("woff");
}