.main-nav {
	background-color: $menu-bg-primary;

	.main-nav-list {
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		list-style: none;

		a {
			text-decoration: none;
		}

		.logo {
			margin-right: auto;
			min-height: 38px;
			display: flex;

			.logo-link {
				display: flex;
				align-items: center;
				text-transform: uppercase;
				font-weight: bold;
				color: $menu-text-primary;

				img {
					margin-right: 5px;
					filter: invert(16%) sepia(69%) saturate(4112%) hue-rotate(188deg) brightness(94%) contrast(96%);
				}
			}
		}

		.filter-toggle {
			display: none;

			.box {
				display: inline-block;
				cursor: pointer;
			}

			.bar1,
			.bar2,
			.bar3 {
				height: 5px;
				margin: 6px auto;
				background-color: $menu-text-primary;
				transition: 0.4s;
			}

			.bar1 {
				width: 35px;
			}

			.bar2 {
				width: 25px;
			}

			.bar3 {
				width: 15px;
			}

			.open .bar1 {
				width: 35px;
				transform: translate(0, 11px) rotate(-45deg);
			}

			.open .bar2 {
				width: 35px;
				opacity: 0;
			}

			.open .bar3 {
				width: 35px;
				transform: translate(0, -11px) rotate(45deg);
			}
		}

		.filter-menu {
			flex-shrink: 0;
			display: flex;
			align-items: center;
			color: $menu-text-secondary;

			&.closed {
				display: none;
			}

			.filter-label {
				text-transform: uppercase;
			}

			.filter-items {
				display: flex;
				list-style: none;

				.item {
					border-radius: $radius;

					>a {
						color: $menu-text-secondary;
						display: inline-block;
					}

					>button {
						display: inline-block;
						width: 100%;
						border: none;
						background-color: transparent;
						font-size: 1rem;
						color: $menu-text-secondary;

						&:disabled {
							cursor: not-allowed;
						}
					}

					&:hover {
						a {
							color: $menu-text-active;
						}

						button {
							color: $menu-text-active;
						}
					}

					&.active {
						background-color: $menu-bg-secondary;

						a {
							color: $menu-text-active;
						}

						button {
							color: $menu-text-active;
						}
					}
				}
			}
		}
	}

	@media (max-width: $screen-md) {
		.main-nav-list {
			flex-wrap: wrap;

			.filter-toggle {
				display: list-item;
			}

			.filter-menu {
				width: 100%;
				margin-bottom: 0 !important;

				.filter-label {
					display: none;
				}

				.filter-items {
					width: 100%;

					.item {
						flex: 1;
						// border-radius: 0;
						text-align: center;

						&.active {
							// background-color: transparent;
							// border-bottom: ($spacer*.25) solid $menu-text-primary;
						}
					}
				}
			}
		}
	}
}