.task-body .main-nav {
    background-color: #259bc1;
    padding: 10px 0;

    .main-nav-list {
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        list-style: none;

        a {
            text-decoration: none;
        }

        .logo {
            margin-right: auto;

            .logo-link {
                display: flex;
                align-items: center;
                text-transform: uppercase;
                font-weight: bold;
                color: #055e92;

                img {
                    margin-right: 5px;
                    filter: invert(16%) sepia(69%) saturate(4112%) hue-rotate(188deg) brightness(94%) contrast(96%);
                }
            }
        }

        .filter-menu {
            flex-shrink: 0;
            display: flex;
            align-items: center;

            .filter-label {
                text-transform: uppercase;
            }

            .filter-items {
                display: flex;
                list-style: none;
            }
        }

        @media (min-width: $screen-sm) {}

        @media (min-width: $screen-md) {}

        @media (min-width: $screen-lg) {}

        @media (min-width: $screen-xl) {}
    }
}