.px-2 {
    padding-left: ($spacer * .5) !important;
    padding-right: ($spacer * .5) !important;
}

.px-4 {
    padding-left: ($spacer * 1.5) !important;
    padding-right: ($spacer * 1.5) !important;
}

// 0 - to set the margin or padding to 0
// 1 - (by default) sets the margin or padding to $spacer* .25 i.e. .25 rem or 4px
// 2 - (by default) sets the margin or padding to $spacer* .5 i.e. .5 rem or 8px
// 3 - (by default) sets the margin or padding to $spacer i.e. 1rem or 16px
// 4 - (by default) sets the margin or padding to $spacer* 1.5 i.e. 1.5 rem or 24px
// 5 - (by default) sets the margin or padding to $spacer* 3 i.e. 3rem or 48px
// auto - for classes that set the margin to auto.