$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$spacer: 1rem;
$radius: .5rem;

$menu-bg-primary: #259bc1;
$menu-bg-secondary: #51afcd;

$menu-text-primary: #055e92;
$menu-text-secondary: #80c4da;