$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$spacer: 1rem;
$radius: .5rem;

$menu-bg-primary: #259bc3;
$menu-bg-secondary: #51afcd;

$menu-text-primary: #055e92;
$menu-text-secondary: #80c4da;
$menu-text-active: #ffffff;

$body-bg-primary: #f8f8f8;

$body-text-primary: #363636;
$body-text-secondary: #b0b0b0;

$cta-text: #ffffff;
$cta-bg: #8cc63e;