@import "variables";
@import "fonts";
@import "spacers";

.task-body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Arial MT', sans-serif;

    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    .container {
        max-width: 1200px;
    }
}
@import "menu";
@import "table";