@import "variables";
@import "fonts";
@import "spacers";

.task-body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Arial MT', sans-serif;
    color: $body-text-primary;

    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    .container {
        max-width: 1200px;
        margin: auto;
        padding-left: ($spacer * 1.5) !important;
        padding-right: ($spacer * 1.5) !important;
    }
}
@import "menu";
@import "form-styles";
@import "board";
@import "table";